<footer>
  <ul>
    <li><a href="https://twitter.com/?lang=en" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
    <li><a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
    <li><a href="https://www.snapchat.com" target="_blank"><i class="fa fa-snapchat-square"></i></a></li>
    <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest-square"></i></a></li>
    <li><a href="https://github.com/" target="_blank"><i class="fa fa-github-square"></i></a></li>

  </ul>
  <p>Are baits do what others cant, catch monster fish</p>
  <p>&copy;<script>document.write(new Date().getFullYear())</script> elias_page</p>
</footer>
