<section id="Shopping" class="Shopping" >
  <h3>HOT Lures</h3><br>
  <img src="../../assets/big%20bassss.jfif"class="round">
  <ul class="grid">
    <li>
      <h3>Crank Baits</h3>
      <img  title="Crank Baits" alt="Crank Baits" src="../../assets/crank%20bait.PNG" class="round">
      <p>A crankbait tops the choices of many bass anglers who need<br> a lure to cover water quickly and explore various depth zones.  </p>
    </li>
    <li>
      <h3>Swim Baits</h3>
      <img  title="Swim Baits" alt="Swim Baits" src="../../assets/swim.jfif" class="round">
      <p>Swimbaits are a loosely defined class of fishing lures that imitate<br> fish and tend to be distinct in design from a typical crankbait.  </p>
    </li>
    <br>
    <li>
      <h3>Poppers</h3>
      <img  title="Poppers" alt="Poppers" src="../../assets/poppers.jfif" class="round">
      <p> The popper is an effective and proven lure designed <br>to move water using a concave or hollowed nose. </p>
    </li>
    <li>
      <h3>Jerk Bait</h3>
      <img  title="Jerk Bait" alt="Jerk Bait" src="../../assets/jerkbait.jfif" class="round">
      <p>  As I've already said, they're generally shad or minnow shaped,<br> usually suspending or slow sinking. They can look a little like a lipless <br>crankbait, only the tow point on a lipless jerkbait is on the nose. </p>
    </li>
    <li>
      <h3>Lipless Crankbaits</h3>
      <img  title="Lipless Crankbaits" alt="Lipless Crankbaits" src="../../assets/liples.jfif" class="round">
      <p> But basically, almost any lure with a piece of plastic or metal<br> poking out from the underside is a crankbait of some sort. </p>
    </li>
    <li>
      <h3>Walking Baits</h3>
      <img  title="Walking Baits" alt="Walking Baits" src="../../assets/walking.jfif" class="round">
      <p> Walking Baits are topwater lures that are designed to display a side to side<br> walking action. These lures are often more subtle as they swish side to side  </p>
    </li>
    <li>
      <h3>Buzz Baits</h3>
      <img  title="Buzz Baits" alt="Buzz Baits" src="../../assets/buzz.jfif" class="round">
      <p> A buzzbait is a specialized topwater form of a bass jig. In anglers' game plans,<br> it competes for play time against spinnerbaits (a midwater form of a bass jig),<br> and against other topwaters such as poppers, spitters, prop baits, hard stickbaits, soft stickbaits, etc.</p>
    </li>
  </ul>
  <hr>
</section>
