<section id="chapters">
  <img src="../../assets/bassss.jfif" alt="" >
  <h3>Places to Fish</h3>
  <ul>
    <li><a href="#">Fishing Spots &nbsp;&#8212; &nbsp;Apache Lake</a></li>
    <li><a href="#">Fishing Spots&nbsp; &#8212; &nbsp;Lake St. Clair</a></li>
    <li><a href="#">Fishing Spots&nbsp; &#8212; &nbsp;Grand Lake O' the Cherokees</a></li>
    <li><a href="#">Fishing Spots&nbsp; &#8212; &nbsp;Bull Shoals Lake</a></li>
    <li><a href="#">Fishing Spots &nbsp;&#8212;  Lake Coeur d'Alene. Idaho</a></li>
    <li><a href="#">Fishing Spots&nbsp; &#8212; &nbsp;Sam Rayburn Reservoir. Texas</a></li>
    <li><a href="#">Fishing Spots  &#8212; &nbsp;Roosevelt Lake</a></li>
    <li><a href="#">Fishing Spots  &#8212; &nbsp;Lake Havasu State Park</a></li>
  </ul>
</section>
